:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #93BED3;
    --text-secondary: #7AA0CD;
    --bg-primary: #292D3E;
    --bg-secondary: #1B1E2B;
    --accent-primary: #6649B8;
    --transition-speed: 600ms;
}
/* 
main bg - #292D3E
secondary bg - #1B1E2B
accent - #6649b8
*/

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}
/*@ Scrollbar */
body::-webkit-scrollbar {width: 0.5rem;}
body::-webkit-scrollbar-track {background: var(--bg-secondary)}
body::-webkit-scrollbar-thumb {background: var(--accent-primary)}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 200ms ease-in-out;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item:last-child {margin-top: auto;}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: val(--accent-primary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: (0, 1.5rem);
}

.navbar:hover {width: 16rem;}
.navbar:hover .link-text {display: block;}
.fa-primary,
.fa-secondary {
    transition
}