{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<title>sabat.dev</title>
{% endblock %}

{% block content %}
<div class="title">
	<div class="big">
		<p>This site is under construction</p>
	</div>
	
	<p>Most (if not all) features are not final</p>
	</br>
	<p>Made using pure Html, CSS, JS</p>
	</br>
	<p>CONTACT</p>
	<p><a class="link" href="https://github.com/Cloud11665" target="_blank">github</a></p>
</div>
{% endblock %}
